@import '~spinners/stylesheets/spinners';

/**
 * Ajax-Progress
 */
.ajax-spinner {
  &.ajax-spinner--fullscreen {
    @include reveal-overlay;
    display : block;

    .spinner-cn {
      position  : absolute;
      top       : 50%;
      left      : 50%;
      transform : translateX(-50%) translateY(-50%);

      .spinner {
        @include spinner(34px, 8px dotted $primary-color);
      }
    }
  }
}
