/**
 * Container Inline
 */
.container-inline {
  @include xy-grid;
  @include xy-gutters($negative : true);
  @include flex-align($y : 'middle');

  div,
  label,
  select,
  input {
    @include xy-cell('shrink');
    display : inline-block;

    @include breakpoint(medium) {
      @include xy-cell('shrink', $breakpoint : medium);
    }
  }

  label {
    position    : relative;
    top         : -2px;
    line-height : 1;
  }

  > * > label,
  > * > input {
    margin : 0;
  }
}

details.container-inline,
fieldset.container-inline {
  .details-wrapper,
  .fieldset-wrapper {

    .form-item {
      @include xy-grid;
      @include xy-gutters($negative : true);
      @include flex-align($y : 'middle');

      > label,
      > input {
        @include xy-cell('shrink');
        margin-left : 0;

        @include breakpoint(medium) {
          @include xy-cell('shrink', $breakpoint : medium);
        }
      }
    }

    > .form-radios {
      margin : 0;

      .form-item {
        margin : 0;
        float  : left;

        input {
          margin: {
            top   : -10px;
            left  : 0;
            right : 0;
          };
        }
      }
    }
  }
}

details.container-inline {
  margin-left  : 0 !important;
  margin-right : 0 !important;

  .details-wrapper {
    margin-bottom : $global-margin;

    > * {
      margin : 0;
    }

    #edit-submit {
      margin-left  : $global-margin;
      margin-right : $global-margin;
    }
  }
}

fieldset.container-inline {
  margin : 0 !important;

  .fieldset-wrapper {
    margin  : 0 !important;
    padding : 6px 0 0 0;
  }
}
