/**
 * Drupal off canvas
 */
.ui-dialog.ui-dialog-off-canvas {
  @include off-canvas-base;

  .ui-dialog-titlebar {
    position         : relative !important;
    padding          : 8px 16px !important;
    color            : $black !important;
    background-color : $white !important;

    .ui-dialog-title {
      padding   : 0 !important;
      font-size : 16px !important;

      &:before {
        position         : relative !important;
        top              : 3px !important;
        left             : 0 !important;
        margin-right     : 8px !important;
        width            : 16px !important;
        height           : 16px !important;
        float            : left !important;
        background-image : url('~@fortawesome/fontawesome-free/svgs/solid/pencil-alt.svg') !important;
      }

      &:after {
        display : none !important;
      }
    }

    .ui-dialog-titlebar-close {
      position  : absolute !important;
      top       : 50% !important;
      right     : $global-padding !important;
      margin    : 0 !important;
      padding   : 0 !important;
      width     : 28px !important;
      height    : 28px !important;
      transform : translateY(-50%) !important;
      border    : 0 none !important;
      background : {
        image    : url('~@fortawesome/fontawesome-free/svgs/solid/window-close.svg') !important;
        repeat   : no-repeat !important;
      };

      @include hover {
        opacity : 0.7 !important;
      }

      .ui-button-icon {
        display : none !important;
      }
    }
  }

  #drupal-off-canvas,
  #drupal-off-canvas *:not(a):not(div):not(span):not(input):not(button):not(summary):not(.button):not(.jsoneditor-menu):not(.jsoneditor-outer) {
    color            : $black !important;
    background-color : $white !important;
    font-family      : $body-font-family !important;
  }

  #drupal-off-canvas {
    padding : {
      left  : 16px;
      right : 16px;
    };

    label:not(.visually-hidden) {
      display     : inline-block !important;
      font-weight : $global-weight-normal !important;
      clip        : unset !important;
      height      : auto !important;
      overflow    : visible !important;
      position    : unset !important;
      width       : auto !important;
    }

    #layout-builder-tabs {
      margin  : {
        left  : -16px !important;
        right : -16px !important;
      };
      padding  : {
        top    : 16px !important;
        bottom : 16px !important;
      };
      border-bottom : 1px solid $black;

      .form-item {
        margin : 0 !important;
      }

      label {
        position      : absolute !important;
        margin-bottom : 0 !important;
        width         : 100% !important;
        height        : 100% !important;
        font-size     : $global-font-size !important;
      }
    }

    legend {
      @include separator($align : 'left', $top : 4px);
      font-weight : $global-weight-normal !important;
    }

    select {
      @include form-select;
      padding-right       : 28px !important;
      height              : 38px !important;
      line-height         : 1 !important;
      background-position : right -1rem center !important;
    }

    input {
      background-color : $white !important;
    }

    input[type='radio']:checked,
    input[type='checkbox']:checked {
      background-color : $primary-color !important;
    }

    details {
      summary {
        color            : $black !important;
        background-color : $medium-gray !important;

        span {
          background-color : transparent !important;
        }

        @include hover {
          background-color : $light-gray !important;
        }
      }

      ul.menu {
        margin  : {
          left  : -16px !important;
          right : -16px !important;
        };

        li {
          margin-bottom  : 0 !important;
          padding-bottom : 0 !important;
          width          : 100% !important;
          border-bottom  : 1px solid $light-gray !important;

          &:last-child {
            margin-bottom  : 0 !important;
            padding-bottom : 0 !important;
            border-bottom  : 0 none !important;
          }
        }
      }
    }

    a {
      color           : $anchor-color !important;
      text-decoration : none;

      @include hover {
        color : $anchor-color-hover !important;
      }
    }

    .inline-block-create-button {
      margin  : {
        left  : -16px !important;
        right : -16px !important;
      };
      padding    : 16px !important;
      background : transparent !important;

      &:before {
        display        : inline-block;
        content        : '+';
        margin  : {
          top   : -3px;
          right : 6px;
        };
        border         : 2px solid;
        border-radius  : 50%;
        height         : 24px;
        width          : 24px;
        text-align     : center;
        vertical-align : middle;
        line-height    : 0.9;
        font     : {
          size   : 20px;
          weight : $global-weight-bold;
        };
      }
    }

    .inline-block-list {
      margin   : {
        top    : 0 !important;
        left   : -16px !important;
        right  : -16px !important;
        bottom : 0 !important;
      };
      border-bottom : 1px solid $black;

      li {
        padding : 0 !important;

        a {
          margin     : 0 !important;
          padding    : 12px 16px !important;
          background : transparent !important;
        }
      }
    }

    .description {
      color : $black !important;
    }

    .form-type-search {
      margin  : {
        left  : -16px !important;
        right : -16px !important;
      };

      input {
        padding-left : 36px;
        background : {
          image    : url('~@fortawesome/fontawesome-free/svgs/solid/search.svg');
          repeat   : no-repeat;
          position : 10px center;
        };
      }
    }

    [data-drupal-selector='edit-layout-settings-grid'] {
      details {
        .form-checkboxes {
          @include xy-grid($wrap : nowrap);
          margin         : 10px 0 5px 0;
          padding-bottom : 5px;

          .form-item {
            @include xy-cell(6);
          }
        }
      }
    }

    .button {
      @include button;
      @include button-hollow;
      margin-top : 16px;
      color      : $primary-color !important;
      border     : 1px solid $primary-color !important;

      @include hover {
        color            : $white !important;
        background-color : $primary-color !important;
      }
    }
  }

  .jsoneditor {
    margin-bottom : 12px !important;

    .jsoneditor-menu {
      background-color : $primary-color !important;
    }

    table {
      margin-bottom : 0 !important;
    }
  }
}
