/**
 * Admin Tool Bar
 */
.toolbar-menu-administration {
  .toolbar-menu {
    font-family : $button-font-family;
    font-weight : 400;

    * {
      letter-spacing : $prototype-wide-letter-spacing !important;
    }

    a {
      font-size     : 14px !important;
      word-wrap     : break-word; /* IE */
      word-break    : break-word;
      overflow-wrap : break-word;

      &.is-active {
        font-weight : 700;
      }
    }

    .toolbar-icon-admin-toolbar-tools-help::before {
      background-image : url('../img/home.svg') !important;
    }
  }
}

#toolbar-item-administration-search-tray {
  .views-exposed-form {
    .form--inline {
      margin : 0 !important;
    }
  }

  &.toolbar-tray-vertical {
    padding : 0 10px !important;

    input {
      width : 100% !important;
    }

    .views-exposed-form {
      .form--inline {
        .form-item {
          margin-bottom : 0 !important;
          width         : 100% !important;
        }

        #edit-actions {
          margin    : 0 !important;
          width     : 100% !important;
          font-size : 16px !important;
        }
      }
    }
  }

  &.toolbar-tray-horizontal {
    .toolbar-lining {
      @include xy-grid;

      .form-item {
        @include xy-grid;
        @include xy-gutters($negative : true);
        @include flex-align($y : 'middle');
        margin-top    : 6px !important;
        margin-bottom : 5px !important;

        label,
        input {
          @include xy-cell('shrink');

          @include breakpoint(medium) {
            @include xy-cell('shrink', $breakpoint : medium);
          }
        }

        input {
          height        : auto;
          padding       : 4px $input-padding !important;
          font-size     : 14px !important;
          border        : $input-border !important;
          border-radius : $input-radius !important;

          &:focus {
            border        : $input-border !important;
            border-radius : $input-radius !important;
          }
        }
      }

      > .form-type-textfield {
        &:first-child {
          order : 2 !important;

          label {
            &:before {
              content : 'Help ';
            }
          }
        }
      }

      .views-exposed-form {
        margin-right : $global-margin*2 !important;

        .form--inline {
          @include flex-align($y : 'middle');

          label {
            &:before {
              content : 'Page ';
            }
          }

          .form-actions {
            margin : 0 !important;

            input {
              padding-top    : 8px;
              padding-bottom : 8px;
            }
          }
        }
      }
    }
  }
}

.adminimal-admin-toolbar {
  .toolbar {
    font-family    : $button-font-family !important;
    letter-spacing : normal !important;
  }
}
