/**
 * Button
 */
.button {
  @include hover {
    color : $primary-color;
  }

  &.button--small {
    @extend .button, .small;
  }

  &.button-action {
    @extend .button, .hollow, .large;

    @include hover {
      color            : $white;
      background-color : $primary-color;
    }
  }

  &.button--danger {
    @extend .button, .hollow, .alert;

    @include hover {
      color : $white;
    }
  }

  &.button--from-style {
    @include button-form-style;
  }
}

/**
 * Dropdown
 */
.dropbutton-widget {
  .button {
    @include button-form-style;
    border                : {
      top-right-radius    : 0 !important;
      bottom-right-radius : 0 !important;
    };

    &.dropdown {
      border-radius : 0 $global-radius $global-radius 0 !important;
      border-left   : 1px solid $white !important;
    }

    @include hover {
      color : $primary-color;

      &.dropdown {
        &:after {
          border-color : $primary-color transparent transparent;
        }
      }
    }
  }

  .dropdown-pane {
    width : auto;
  }

  .dropbutton {
    @include menu-base;
    @include menu-direction('vertical');
    margin : 0;

    li {
      display : none;

      &.secondary-action {
        display : list-item;
      }
    }
  }
}

.dropbutton-single {
  .button {
    border-radius : $global-radius !important;
  }

  .button.dropdown {
    display : none;
  }
}

.dropbutton-multiple {
  position     : unset;
  width        : calc(100% + 36px);
  margin-right : rem-calc(36);
}
