/*
 * Style the description of fields
 */
ul.tips li,
div.panel__description,
dd.list-group__description,
.form-item .description,
.form-wrapper .counter {
  &::marker,
  &:before {
    display        : inline-block;
    margin-top     : rem-calc(-2);
    margin-right   : rem-calc(6);
    content        : '\00bb';
    color          : $primary-color;
    line-height    : $global-lineheight;
    vertical-align : top;
  }
}

ul.tips {
  margin-left : rem-calc(10);

  li {
    padding-left : rem-calc(12);

    &:before {
      display : none;
    }
  }
}

div.description {
  color     : $helptext-color;
  font-size : $helptext-font-size;

  &:before {
    display : none !important;
  }

  .item-list {
    ul {
      margin-left   : rem-calc(10);
      margin-bottom : 0;

      li {
        margin-left  : 0;
        padding-left : rem-calc(12);

        &::marker {
          display        : inline-block;
          content        : '\00bb';
          color          : $primary-color;
          line-height    : $global-lineheight;
          vertical-align : top;
        }
      }
    }
  }
}
