/**
 * Details
 */
details {
  margin-bottom : $global-margin;
  border        : $card-border;
  border-radius : $card-border-radius;

  summary {
    padding    : $global-padding;
    background : $medium-gray !important;

    @include hover {
      background : $light-gray !important;
    }
  }

  .details-wrapper {
    margin   : {
      top    : $global-margin;
      bottom : $global-margin;
    };
    padding : {
      right : $global-padding;
      left  : $global-padding;
    };
  }
}
