/**
 * Dialog
 */
.ui-dialog {
  @include reveal-modal-base;
  padding : 0 !important;
  z-index : $reveal-zindex + 1 !important;

  .ui-dialog-titlebar {
    position      : relative;
    padding       : $global-padding;
    border-bottom : 1px solid $medium-gray !important;

    .ui-dialog-title {
      color       : $header-color;
      font     : {
        family : $header-font-family;
        weight : $header-font-weight;
        style  : $header-font-style;
      };
      line-height : $header-lineheight;
      font-size   : #{map-get(map-get(map-get($header-styles, small), h4), 'font-size')}px;
      @include separator('left');

      @include breakpoint('medium') {
        font-size : #{map-get(map-get(map-get($header-styles, medium), h4), 'font-size')}px;
      }
    }

    .ui-dialog-titlebar-close {
      position  : absolute;
      top       : 50%;
      right     : $global-padding;
      transform : translateY(-50%);
      background : {
        image    : url('~@fortawesome/fontawesome-free/svgs/solid/window-close.svg') !important;
        repeat   : no-repeat;
      };

      @include hover {
        opacity : 0.7;
      }

      .ui-button-icon {
        display : none;
      }
    }
  }

  .ui-dialog-content {
    padding    : $global-padding;
    overflow-x : auto;
  }

  .ui-dialog-buttonpane {
    @include button-group($spacing : 10px);
    border-top : 1px solid $medium-gray;
    margin     : 0;
    padding    : $global-padding;

    .button {
      margin-top    : 0;
      margin-bottom : 0;

      &:not(.button--danger) {
        @include hover {
          border-color : $primary-color;
        }
      }
    }
  }
}

.cke_combopanel,
.ui-autocomplete,
.ui-autocomplete.ui-front {
  z-index : 1000000000000000 !important;
}

/**
 * Dialog overflow
 */
body.dialog-overflow {
  @include reveal-overlay;
  overflow : hidden;
  z-index  : $reveal-zindex !important;
}
