/**
 * Forms
 */
form {
  .form-required:after {
    display     : inline-block;
    content     : '*';
    margin-left : rem-calc(8);
    color       : $alert-color;
  }

  .form-item,
  .form-actions {
    margin   : {
      top    : rem-calc($global-margin);
      bottom : rem-calc($global-margin);
    };
  }

  input,
  select,
  textarea {
    &:disabled {
      opacity : 0.5;
      cursor  : unset !important;
    }

    &.error {
      outline : 2px solid $alert-color;
    }
  }

  input,
  select {
    max-width : rem-calc(640);
  }

  input[type='radio'],
  input[type='checkbox'] {
    position           : relative;
    top                : rem-calc(3);
    display            : inline-block;
    margin-right       : .25em;
    padding            : 0;
    background         : $white;
    border             : 1px solid $medium-gray;
    width              : 16px !important;
    height             : 16px !important;
    -webkit-transition : all .5s ease;
    -o-transition      : all .5s ease;
    transition         : background .5s ease;
    outline            : none;
    appearance         : none;
    cursor             : pointer;

    &:checked,
    &:disabled:checked,
    &.error:checked,
    &.error:focus:checked {
      background : $primary-color;
      box-shadow : inset 0 0 0 3px $white;
    }
  }

  input[type='radio'] {
    border-radius : 50%;
  }

  select {
    padding-right       : 1.75rem;
    line-height         : 1;
    background-position : right -1rem center;
  }

  .form-checkboxes,
  .form-radios {
    .form-item {
      margin-top    : rem-calc($global-margin/3);
      margin-bottom : rem-calc($global-margin/3);
    }
  }

  .field-suffix {
    display       : inline-block;
    margin-bottom : rem-calc($global-margin/3);
  }

  .form-item--error-message {
    color : $alert-color;
  }

  .is-invalid-editor:not(:focus) {
    border : $input-border;
    @include form-input-error;
  }

  .messages {
    margin-left   : 0;
    padding       : $card-padding;
    border        : $card-border;
    border-radius : $card-border-radius;

    &.success {
      background : scale-color($success-color, $lightness : $callout-background-fade) !important;
    }

    &.warning {
      background : scale-color($warning-color, $lightness : $callout-background-fade) !important;
    }

    &.error {
      background : scale-color($alert-color, $lightness : $callout-background-fade) !important;
    }
  }

  .messages--status,
  .messages--warning,
  .messages--error {
    padding-left : rem-calc(40);
  }

  .messages--status {
    color            : scale-color($secondary-color, $lightness : -50%);
    border-color     : scale-color($secondary-color, $lightness : -20%);
    background-color : scale-color($secondary-color, $lightness : $callout-background-fade);
    box-shadow       : -8px 0 0 $secondary-color;
  }

  .messages--warning {
    color            : scale-color($warning-color, $lightness : -50%);
    border-color     : scale-color($warning-color, $lightness : -20%);
    background-color : scale-color($warning-color, $lightness : $callout-background-fade);
    box-shadow       : -8px 0 0 $warning-color;
  }

  .messages--error {
    color            : scale-color($alert-color, $lightness : -50%);
    border-color     : scale-color($alert-color, $lightness : -20%);
    background-color : scale-color($alert-color, $lightness : $callout-background-fade);
    box-shadow       : -8px 0 0 $alert-color;
  }

  .layout-region {
    &:first-child {
      z-index : 99;
    }
  }

  &.menu-link-content-form,
  &.menu-link-edit,
  .layout-node-form,
  .layout-product-form {
    @include xy-grid;

    #edit-content,
    .layout-region-node-main,
    .layout-region-product-main {
      @include xy-cell(12, $gutters : 0);

      @include breakpoint(medium) {
        @include xy-cell(8, $gutter-type : padding);
        padding-left : 0 !important;
      }

      @include breakpoint(xxlarge) {
        @include xy-cell(7, $gutter-type : padding);
      }
    }

    #edit-sidebar,
    .layout-region-node-secondary,
    .layout-region-product-secondary {
      @include xy-cell(12, $gutters : 0);

      @include breakpoint(medium) {
        @include xy-cell(4, $gutter-type : padding);
        padding-right : 0 !important;
      }

      @include breakpoint(xxlarge) {
        @include xy-cell(5, $gutter-type : padding);
      }

      .entity-meta__header {
        @include callout;

        .form-item:first-child {
          margin-top : 0;
        }
      }
    }
  }
}

/**
 * Views exposed form
 */
.views-exposed-form {
  .form--inline {
    @include xy-grid;
    @include xy-gutters($negative : true);
    @include flex-align($y : 'bottom');

    > .form-item,
    > .form-actions {
      @include xy-cell('shrink');

      @include breakpoint(medium) {
        @include xy-cell('shrink', $breakpoint : medium);
      }
    }

    .form-actions {
      input {
        @include button-form-style;

        @include hover {
          color : $primary-color;
        }
      }
    }
  }
}

/**
 * Bulk form header
 */
[data-drupal-selector='edit-node-bulk-form'],
[data-drupal-selector='edit-user-bulk-form'],
[data-drupal-selector='edit-redirect-bulk-form'],
[data-drupal-selector='edit-commerce-product-bulk-form'] {
  @include xy-grid;
  @include xy-gutters($negative : true);
  @include flex-align($y : 'bottom');

  > div {
    @include xy-cell('shrink');

    @include breakpoint(medium) {
      @include xy-cell('shrink', $breakpoint : medium);
    }
  }

  .form-actions {
    input {
      @include button-form-style;

      @include hover {
        color : $primary-color;
      }
    }
  }
}
