/**
 * Pagination
 */
.pagination {
  .pager__item {
    a {
      @include hover {
        color               : $primary-color;
        border-bottom-color : $primary-color;
      }
    }
  }
}

/**
 * Pager
 */
.pager {
  .is-active {
    a {
      padding    : 0;
      border     : 0 none;
      background : transparent !important;
      color      : $white;
    }
  }
}
