/**
 * Table
 */
table {
  tr {
    th,
    th.is-active {
      > a {
        @include hover {
          color : $anchor-color-hover;

          &:after {
            border-bottom-color : $anchor-color-hover;
          }
        }
      }
    }

    td {
      .item-list {
        ul {
          margin   : {
            left   : rem-calc(10);
            bottom : 0;
          };

          li {
            margin-left  : 0;
            padding-left : rem-calc(12);

            &::marker {
              display        : inline-block;
              content        : '\00bb';
              color          : $primary-color;
              line-height    : $global-lineheight;
              vertical-align : top;
            }
          }
        }
      }

      summary {
        background : transparent !important;
      }

      &:first-child {
        .form-type-checkbox {
          margin : 0 !important;
        }
      }
    }

    input,
    select {
      margin-bottom : 0 !important;
    }

    select {
      width : auto !important;
    }

    .button {
      @extend .button, .small;
      vertical-align : top !important;
    }

    &.selected {
      td {
        background : scale-color($warning-color, $lightness : $callout-background-fade) !important;
      }
    }

    &.drag-previous {
      background : scale-color($warning-color, $lightness : $callout-background-fade) !important;
    }
  }

  a.tabledrag-handle .handle {
    padding    : 0 !important;
    width      : rem-calc(24) !important;
    height     : rem-calc(24) !important;
    margin-top : rem-calc(-3) !important;
  }
}
