/**
 * Tabs
 */
nav.tabs {
  line-height : 0;
  background  : $primary-color;
}

ul.tabs {
  display : inline-block;
  width   : 100%;
  border  : 0 none !important;

  * {
    border : 0 none;
  }

  .tabs-title {
    margin : 0;

    a {
      border : 1px solid transparent;

      &:hover,
      &:focus,
      &:target,
      &:active {
        border : 1px solid $primary-color;
      }
    }

    &.is-active a {
      background : $white;
      color      : $primary-color;
      border     : 1px solid $primary-color;
    }
  }
}

ul.tabs.primary {
  .tabs-title {
    .is-active a,
    a:hover,
    a:focus,
    a:target,
    a:active {
      background : $white;
      color      : $primary-color;
      border     : 1px solid $primary-color;
    }
  }
}

ul.tabs.secondary {
  background : $white;

  .tabs-title {
    a {
      padding-top    : rem-calc(10);
      padding-bottom : rem-calc(10);
    }
  }
}

.horizontal-tabs {
  .horizontal-tabs-list {
    background-color : $white;
  }

  .horizontal-tab-button {
    background-color : $white;

    a {
      background : transparent;
    }

    @include hover('.selected') {
      background-color : $light-gray;
    }
  }
}
