/**
 * Views
 */
.form-edit {
  .views-display-top,
  .form-actions {
    background : $white;
  }

  .button-group {
    .dropdown {
      padding          : $global-padding/4 $global-padding/2;
      color            : $primary-color !important;
      background-color : $white !important;
      border           : 1px solid $primary-color !important;
      border-radius    : $global-radius !important;

      &:after {
        border-color : $primary-color transparent transparent !important;
      }
    }
  }

  .views-displays {
    .tabs {
      li a:hover,
      li.is-active a,
      li.is-active a.is-active {
        color      : $button-color;
        background : $button-background;
      }
    }

    .button-group {
      .tiny {
        padding-top    : 0.8em;
        padding-bottom : 0.8em;
        font-size      : map-get($button-sizes, tiny);
      }
    }

    .views-display-tab {
      .icon {
        display     : inline-block !important;
        width       : auto !important;
        height      : auto !important;
        overflow    : unset !important;
        text-indent : unset !important;
        background  : $button-background !important;
        border      : 1px solid $primary-color !important;

        @include hover {
          color            : $primary-color;
          background-color : $white !important;
        }
      }

      #edit-displays-settings-settings-content-tab-content-details-columns-second {
        .dropbutton-wrapper ~ .views-display-setting,
        .dropbutton-wrapper ~ .views-ui-display-tab-bucket__title {
          padding-right : rem-calc(100) !important;
        }
      }

      .dropbutton {
        input {
          color : $anchor-color;

          @include hover {
            color : $anchor-color-hover;
          }
        }
      }
    }
  }
}

.view-preview-form__title {
  background : $medium-gray;
}

ul#views-display-menu-tabs.tabs.secondary {
  .tabs-title,
  .add {
    a {
      padding      : 3px 7px;
      color        : $primary-color;
      border-color : $primary-color;
    }

    @include hover('.is-active') {
      a {
        color : $white;
      }
    }
  }

  .add {
    .icon {

    }
  }
}

.views-table {
  &.no-lang {
    .views-field-langcode {
      display : none;
    }
  }
}

.view-media-entity-browser-view {
  .view-content {
    margin : 0 -5px;

    .views-row {
      margin : 0 5px 10px 5px;
      width  : calc(33.333% - 10px);
    }
  }
}
