/**
 * Cleaner
 */
@mixin cleaner-classes {
  .no-margin {
    margin : 0 !important;
  }

  .no-padding {
    padding : 0 !important;
  }
}

/**
 * Background image
 */
@mixin background-image-classes {
  .background-image {
    background : {
      position : center center;
      size     : cover;
      repeat   : no-repeat;
    };
  }
}

/**
 * Text formatter
 */
@mixin text-formatter-classes {
  .break-word {
    @include break-word;
  }
}

