/**
 * Defaults
 */
$color-colors-list      : map-merge($foundation-palette, (
  'light-gray' : $light-gray,
  'medium-gray' : $medium-gray,
  'dark-gray' : $dark-gray,
  'black' : $black,
  'white' : $white,
)) !default;
$color-backgrounds-list : $color-colors-list !default;

/**
 * Mixins
 */
@mixin color-colors-classes($colors: $color-colors-list) {
  @each $name, $color in $colors {
    .#{$name}-color {
      color : $color;
    }
  }
}

@mixin color-background-classes($colors: $color-colors-list) {
  @each $name, $color in $colors {
    .#{$name}-bg {
      background : $color;
    }
  }
}
