/**
 * Defaults
 */
$external-link-size      : $global-font-size !default;
$external-link-icon      : $fa-var-external-link-alt !default;
$external-link-font      : 'Font Awesome 5 Free Solid' !default;
$external-link-space     : rem-calc(6) !default;
$external-link-alignment : after !default;

/**
 * Mixins
 */
@mixin external-link(
  $size: $external-link-size,
  $icon: $external-link-icon,
  $font: $external-link-font,
  $space: $external-link-space,
  $alignment: $external-link-alignment
) {
  &:#{$alignment} {
    display : inline-block;
    content : fa-content($icon);
    font     : {
      family : $font;
      size   : $size;
    };
    @include fa-icon;
    @if ($alignment == after) {
      margin-left  : $space;
    } @else {
      margin-right : $space;
    }
  }
}

@mixin external-link-classes {
  .external-link {
    @include external-link;
  }
}
