/**
 * Reset first and last item margin
 */
@mixin item-list-reset-margin {
  > :first-child {
    margin-top : 0 !important;
  }

  > :last-child {
    margin-bottom : 0 !important;
  }
}

/**
 * Reset first and last item padding
 */
@mixin item-list-reset-padding {
  > :first-child {
    padding-top : 0 !important;
  }

  > :last-child {
    padding-bottom : 0 !important;
  }
}
