/**
 * Defaults
 */
$scroll-bar-tracker                : $dark-gray !default;
$scroll-bar-tracker-hover          : $scroll-bar-tracker !default;
$scroll-bar-background             : $light-gray !default;
$scroll-bar-scrollbar-width        : 'thin' !default;
$scroll-bar-webkit-scrollbar-width : 6 !default;

/**
 * Mixins
 */
@mixin scroll-bar(
  $tracker : $scroll-bar-tracker,
  $tracker-hover : $scroll-bar-tracker-hover,
  $background : $scroll-bar-background,
  $scrollbar-width : $scroll-bar-scrollbar-width,
  $webkit-scrollbar-width: $scroll-bar-webkit-scrollbar-width
) {
  scrollbar-color      : $tracker $background;
  scrollbar-base-color : black;
  scrollbar-width      : $scrollbar-width;

  &::-webkit-scrollbar {
    width : rem-calc($webkit-scrollbar-width);
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background : $background;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background : $tracker;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background : $tracker-hover;
  }
}
