@use 'sass:list';

/**
 * Defaults
 */
$sections : (
  default: (
    small: 20,
    medium: 40,
    large: 60,
  ),
  small: (
    small: 10,
    medium: 20,
    large: 30,
  ),
) !default;

/**
 * Mixins
 */
@mixin section($section: map-get($sections, 'default'), $type: padding) {
  @each $breakpoint, $gutter in $section {
    @include breakpoint($breakpoint) {
      padding  : {
        top    : rem-calc($gutter);
        bottom : rem-calc($gutter);
      };
    }
  }

  &.top {
    padding-bottom : 0;
  }

  &.bottom {
    padding-top : 0;
  }
}

@mixin sections($sections: $sections) {
  @each $name, $section in $sections {
    @if $name == default {
      @include section($section);
    } @else {
      &-#{$name} {
        @include section($section);
      }
    }
  }
}

@mixin section-classes($sections: $sections) {
  .section {
    @include sections($sections);
  }
}
