/**
 * Clearfix
 */
@mixin clearfix {
  &::after {
    display : table;
    content : '';
    clear   : both;
  }
}

/**
 * Hover
 */
@mixin hover($active : '') {
  @if $active != '' {
    &#{$active},
    &:focus,
    &:hover {
      @content;
    }
  } @else {
    &:focus,
    &:hover {
      @content;
    }
  }
}

/**
 * A11y-focus
 */
@mixin a11y-focus($box-shadow: 0 0 0 3px $warning-color) {
  &:active,
  &:focus {
    box-shadow : $box-shadow !important;
    outline    : none !important;
  }

  [data-whatintent='mouse'] &:active,
  [data-whatintent='mouse'] &:focus,
  [data-whatintent='touch'] &:active,
  [data-whatintent='touch'] &:focus {
    box-shadow : none !important;
  }
}

/**
 * Data label
 */
@mixin data-label($margin-right: 6) {
  &[data-label]:before {
    display      : inline-block;
    content      : attr(data-label) ': ';
    margin-right : rem-calc($margin-right);
    font-weight  : $global-weight-bold;
    @content;
  }
}

@mixin data-labels($margin-right: 6) {
  [data-label]:before {
    display      : inline-block;
    content      : attr(data-label) ': ';
    margin-right : rem-calc($margin-right);
    font-weight  : $global-weight-bold;
    @content;
  }
}

/**
 * Break word
 */
@mixin break-word {
  word-wrap     : break-word; /* IE */
  word-break    : break-word;
  overflow-wrap : break-word;
}

/**
 * Size set with and height
 */
@mixin size($size: 0, $radius: 0) {
  @if ($size == 100%) {
    $size : 1rem;
  }
  width  : $size;
  height : $size;
  @if ($radius != 0) {
    border-radius : $radius;
  }
}
