{#
/**
 * @file
 * Theme override for the status report page.
 *
 * Available variables:
 * - counters: The list of counter elements.
 * - general_info: A render array to create general info element.
 * - requirements: A render array to create requirements table.
 *
 * @see template_preprocess_status_report()
 */
#}
{% if counters|length == 3 %}
  {% set element_width_class = 'medium-4' %}
{% elseif counters|length == 2 %}
  {% set element_width_class = 'medium-6' %}
{% endif %}
<div class="grid-x grid-margin-x">
  {% for counter in counters %}
    {% set type = counter['#severity'] %}
    {% if type == 'checked' %}
      {% set icon_class = 'fa-check-circle success' %}
    {% elseif type == 'warning' %}
      {% set icon_class = 'fa-exclamation-circle warning' %}
    {% elseif type == 'error' %}
      {% set icon_class = 'fa-bug alert' %}
    {% else %}
      {% set icon_class = 'fa-info-circle secondary' %}
    {% endif %}
    <div class="small-12 cell {{ element_width_class }}">
      <div class="callout primary text-center">
        <div class="grid-x grid-margin-x grid-padding-y align-center-middle">
          <div class="small-4 xlarge-2 cell">
            <i class="fas {{ icon_class }} fa-3x"></i>
          </div>
          <div class="small-8 xlarge-6 cell">
            {{ counter }}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{{ general_info }}
{{ requirements }}
