/**
 * Tags
 */
a.active,
a.is-active,
.is-active > a {
  cursor : default;
}

/**
 * Colors
 */
.color-success {
  background : scale-color($success-color, $lightness : $callout-background-fade) !important;
}

.color-warning {
  background : scale-color($warning-color, $lightness : $callout-background-fade) !important;
}

.color-error {
  background : scale-color($alert-color, $lightness : $callout-background-fade) !important;
}

/**
 * Font Awesome
 */
.far:before {
  font-weight : 900;
}

i[class^='fa-'],
i[class*=' fa-'],
svg[class^='fa-'],
svg[class*=' fa-'] {
  &.primary {
    color : $primary-color;
  }

  &.secondary {
    color : $secondary-color;
  }

  &.success {
    color : $success-color;
  }

  &.warning {
    color : $warning-color;
  }

  &.alert {
    color : $alert-color;
  }
}

/**
 * List group
 */
.list-group {
  .list-group__description {
    margin-bottom : rem-calc($global-margin);
  }
}

/**
 * Vertical tabs
 */
.vertical-tabs {
  .vertical-tabs__menu-item {
    background : scale-color($secondary-color, $lightness : $callout-background-fade);

    &.is-selected {
      background : $white;

      a {
        color : $anchor-color-hover;
      }
    }
  }

  .vertical-tabs__menu-item-title {
    @extend .break-word;
  }

  .token-dialog {
    margin-left : rem-calc(22);
  }
}
