/**
 * Tags
 */
html,
body {
  letter-spacing : $prototype-wide-letter-spacing;
}

body {
  overflow : {
    y      : scroll;
    x      : hidden;
  };
}

a,
button {
  transition        : {
    duration        : 0.2s !important;
    timing-function : linear !important;
    property        : opacity, color, background-color !important;
  };
}

/**
 * Font Awesome
 */
.far:before {
  font-weight : 900;
}

/*+
 * Admin Toolbar
 */
.toolbar-oriented {
  .toolbar-bar {
    z-index : 999999 !important;
  }
}

/**
 * Ajax spinner
 */
.ajax-spinner.ajax-spinner--fullscreen {
  z-index : 999999999999999 !important;
}
