/**
 * Status
 */
.system-status-report__entry {
  border  : {
    top   : 1px solid $light-gray;
    left  : 1px solid $light-gray;
    right : 1px solid $light-gray;
  };

  &:last-of-type {
    border-bottom : 1px solid $light-gray;
  }
}

.system-status-general-info__item:nth-child(2),
.system-status-general-info__item:nth-child(4),
.system-status-general-info__item:nth-child(5) {
  border-left : 1px solid $light-gray;
}

@include breakpoint(medium) {
  .system-status-report__requirements-group {
    details {
      position   : relative;
      min-height : rem-calc(84);

      > summary {
        position : absolute;
        top      : 0;
        bottom   : 0;
      }

      > .system-status-report__entry__value {
        width : calc(100% - 20em);
      }
    }
  }
}

@include breakpoint(xlarge) {
  .status-message .status-icon {
    font-size : 4em;
  }
}

/**
 * Block admin
 */
.block-region {
  margin-top       : rem-calc(4);
  margin-bottom    : rem-calc(4);
  padding          : rem-calc(3);
  background-color : $warning-color;
}

/**
 * Progress Bar
 */
.progress__track {
  @include progress-container;

  .progress__bar {
    @include progress-meter;
  }
}

/**
 * System modules
 */
.system-modules {
  details {
    margin-top    : 2rem;
    margin-bottom : 2rem;

    .seven-details__summary {
      color : $body-font-color;
    }

    .details-wrapper {
      margin  : 0 !important;
      padding : 0 !important;

      table {
        margin : 0;
      }

      .checkbox {
        .form-item {
          margin-top : 0;
          padding    : rem-calc(6);
        }
      }
    }
  }
}

/**
 * Filter format edit form
 */
#filter-format-edit-form {
  .ckeditor-button {
    a {
      min-width  : rem-calc(30);
      min-height : rem-calc(30);

      img {
        vertical-align : top;
      }
    }
  }
}

/**
 * Block admin display form
 */
.block-admin-display-form {
  .button {
    &.button--small {
      @extend .hollow;
      margin-bottom : 0;
      font-size     : map-get($button-sizes, tiny);

      @include hover {
        color            : $white;
        background-color : $primary-color;
      }
    }
  }
}

/**
 * Admin list
 */
.admin-list {
  li {
    a {
      background-position : rem-calc(1 20);

      .label {
        cursor : pointer;
      }
    }
  }
}

/**
 * Language content
 */
#language-content-settings-form {
  .bundle-settings {
    border-top : 1px solid $dark-gray;

    &:first-child {
      border-top : 0 none;
    }
  }
}

/**
 * Language translate
 */
#locale-translate-filter-form {
  #edit-filters {
    margin-bottom : $global-margin;

    .details-wrapper {
      padding-bottom : $global-padding;
    }

    #edit-actions {
      margin-left : $global-padding/2;
      padding-top : rem-calc(41);

      input {
        @include button-form-style;

        @include hover {
          color : $primary-color;
        }
      }
    }

  }
}

/**
 * Search
 */
.form-type-search {
  margin-bottom : $global-margin;
}

/**
 * Permissions
 */
.permissions {
  .permission-warning {
    display : block;
  }
}

/**
 * Search API
 */
.search-api-index-add-fields {
  .item-list {
    ul,
    li {
      list-style-type : none !important;
    }
  }
}
