/**
 * Page
 */
#page {
  padding-bottom : rem-calc($global-padding*4);
}

/**
 * Page title
 */
.page-title {
  margin   : {
    top    : rem-calc($global-margin);
    bottom : rem-calc($global-margin);
  };
  @include separator('left');
}
