{#
/**
 * @file banner.html.twig
 * Default theme implementation to present Content widget data.
 *
 * This template is used when viewing Content widget pages.
 *
 *
 * Available variables:
 * - items: A list of content items.
 * - items_attr: A list of content items attreibutes.
 * - attributes: HTML attributes for the container element.
 * - locked: if grid locked.
 *
 * @see template_preprocess_dashboard()
 *
 * @ingroup themeable
 */
#}
<div id="widgets" {{ attributes }} data-equalizer>
  {% if items %}
    {% for key, item in items %}
      {% set attr = create_attribute(items_attr[key]) %}
      <div {{ attr.addClass('grid-stack-item') }}>
        <div class="grid-stack-item-content card" data-equalizer-watch>
          {% if item|render %}
            {{ item }}
          {% else %}
            <h2 class="h4 separator-left">
              {{ 'Widget has no content.'|t }}
            </h2>
          {% endif %}
          {% set url = path('codev_dashboard.widgets.add', {
            'widget' : key
          }) %}
          <a href="{{ url }}" class="button-add-item"></a>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="grid-x align-center">
      <div class="small-12 medium-8 cell">
        <h3 class="separator-left">
          {{ 'No more widgets available.'|t }}
        </h3>
      </div>
    </div>
  {% endif %}
</div>
<button
  class="widgets-close close-button hide"
  aria-label="Close alert"
  type="button">
  <span aria-hidden="true">&times;</span>
</button>
