{#
/**
 * @file banner.html.twig
 * Default theme implementation to present Content widget data.
 *
 * This template is used when viewing Content widget pages.
 *
 *
 * Available variables:
 * - items: A list of content items.
 * - items_attr: A list of content items attreibutes.
 * - attributes: HTML attributes for the container element.
 * - locked: if grid locked.
 *
 * @see template_preprocess_dashboard()
 *
 * @ingroup themeable
 */
#}
<div id="dashboard" {{ attributes }}>
  <div class="grid-stack">
    {% if items %}
      {% for key, item in items %}
        {% set attr = create_attribute(items_attr[key]) %}
        <div {{ attr.addClass('grid-stack-item') }}>
          <div class="grid-stack-item-content card">
            {% if item|render %}
              {{ item }}
            {% else %}
              <h2 class="h4 separator-left">
                {{ 'Widget has no content.'|t }}
              </h2>
            {% endif %}
          </div>
          <button
            class="close-button"
            aria-label="Close alert"
            type="button"
            data-dashboard-widget-remove>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% else %}
      <h3 class="empty-title">
        {{ 'There are no widgets added to the dashboard.'|t }}
      </h3>
    {% endif %}
  </div>
  <aside id="widgets-select-wrp">
    <div id="widgets-select" class="layout-container">
      <div id="widgets-list"></div>
      <button
        class="widgets-select-close-button"
        aria-label="Close alert"
        type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="widgets-buttons" class="grid-x align-middle layout-container">
      <div class="small-12 medium-8 large-10 cell">
        <a
          href="{{ path('codev_dashboard.widgets') }}"
          class="add-new-widgets-button button button--primary expanded">
          <span>
            <i class="icon fas fa-plus-circle fa-lg"></i>
            {{ 'Add new widget'|t }}
          </span>
        </a>
      </div>
      <div class="small-12 medium-4 large-2 cell">
        <div class="locked-switch grid-x align-center-middle text-center">
          <div class="small-6 cell">
            <i class="icon fas fa-lock fa-3x"></i>
          </div>
          <div class="small-6 cell">
            <div class="switch small">
              <input
                class="switch-input" id="yes-no"
                type="checkbox"
                name="locked-switch"
                {{ locked ? 'checked':'' }}
                data-dashboard-locked="{{ locked }}">
              <label class="switch-paddle" for="yes-no">
                <span class="show-for-sr">{{ 'Locked'|t }}</span>
                <span class="switch-active" aria-hidden="true">{{ 'Yes'|t }}</span>
                <span class="switch-inactive" aria-hidden="true">{{ 'No'|t }}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>
