@import '~@fortawesome/fontawesome-free/scss/variables';

/**
 * Color
 */
$color-colors-list                 : map-merge($foundation-palette, (
  'light-gray' : $light-gray,
  'medium-gray' : $medium-gray,
  'dark-gray' : $dark-gray,
  'black' : $black,
  'white' : $white,
));
$color-backgrounds-list            : $color-colors-list;

/**
 * Section
 */
$sections                          : (
  default: (
    small: 20,
    medium: 40,
    large: 60,
  ),
  small: (
    small: 10,
    medium: 20,
    large: 30,
  ),
);

/**
 * Scroll bar
 */
$scroll-bar-tracker                : $dark-gray;
$scroll-bar-tracker-hover          : $scroll-bar-tracker;
$scroll-bar-background             : $light-gray;
$scroll-bar-scrollbar-width        : 'thin';
$scroll-bar-webkit-scrollbar-width : 6;

/**
 * External link
 */
$external-link-size                : $global-font-size;
$external-link-icon                : $fa-var-external-link-alt;
$external-link-font                : 'Font Awesome 5 Free';
$external-link-space               : rem-calc(6);
$external-link-alignment           : after;

/**
 * Hamburgers
 */
$hamburger-padding-x               : 0;
$hamburger-padding-y               : 0;
$hamburger-layer-width             : rem-calc(32);
$hamburger-layer-height            : rem-calc(4);
$hamburger-layer-spacing           : rem-calc(8);
$hamburger-layer-color             : $white;
$hamburger-layer-border-radius     : rem-calc(4);
$hamburger-hover-opacity           : 0.7;
$hamburger-active-layer-color      : $hamburger-layer-color;
$hamburger-active-hover-opacity    : $hamburger-hover-opacity;
$hamburger-types                   : (slider);

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter        : false;
$hamburger-hover-filter            : opacity(50%);
$hamburger-active-hover-filter     : $hamburger-hover-filter;

/**
 * Import all mixins
 */
@import 'mixins/main';
@import 'mixins/classes';
