/* Defaults */
@import 'settings';
@import 'mixins';
@import '~foundation-sites/scss/foundation';

/**
 * Page
 */
.page-content {
  margin-bottom : rem-calc(30) !important;
}

/**
 * Main
 */
#dashboard {
  .grid-stack {
    margin   : {
      top    : rem-calc(-10);
      bottom : 0;
    };
  }

  .grid-stack-item-content {
    margin-bottom : 0;
    box-shadow    : $card-shadow;

    .item-list ul {
      margin-left     : 0;
      list-style-type : none;

      li {
        margin-left     : 0;
        list-style-type : none;
      }
    }
  }

  .close-button {
    margin-top  : rem-calc(15);
    width       : rem-calc(32);
    line-height : 0;

    &:before {
      display : none;
    }

    > span {
      line-height : 0;
    }
  }

  .ui-draggable-disabled.ui-resizable-disabled {
    .close-button {
      display : none;
    }
  }

  .empty-title {
    margin : 0 $global-padding/2;
  }
}

/**
 * Widgets select
 */
#widgets-select-wrp {
  position   : fixed;
  left       : 0;
  bottom     : 0;
  padding  : {
    top    : rem-calc(10);
    bottom : rem-calc(10);
  };
  width      : 100%;
  z-index    : 9999999;
  background : $white;
  border-top : 1px solid $primary-color;

  #widgets-select {
    position           : relative;
    height             : 0;
    -webkit-transition : max-height 0.5s ease-out;
    transition         : max-height 0.5s ease-out;
    overflow           : hidden;

    .widgets-select-close-button {
      display     : inline-block !important;
      position    : absolute;
      top         : rem-calc(10);
      right       : rem-calc(10);
      font-size   : rem-calc(24);
      line-height : 0;
      cursor      : pointer;
    }

    #widgets-list {
      padding  : {
        left   : rem-calc(50);
        right  : rem-calc(50);
        bottom : rem-calc(30);
      };

      .grid-stack-item {
        margin-top : 0;
        padding    : rem-calc(0 15);
        border-top : 0 none;
      }

      .grid-stack-item-content {
        margin : 0 0 1px 0 !important;
        height : rem-calc(160);

        @include hover {
          a.button-add-item,
          a.button-add-item {
            background-color : rgba($medium-gray, 0.3);
          }
        }
      }

      .slick-list {
        width : 100%;
      }

      .slick-arrow {
        position       : absolute;
        top            : 50%;
        width          : rem-calc(30);
        height         : rem-calc(30);
        text-align     : center;
        vertical-align : middle;
        color          : $white;
        background     : $primary-color;
        border-radius  : 50%;
        transform      : translateY(-50%);
        z-index        : 999;

        @include hover {
          background : $anchor-color-hover;
        }
      }

      .slick-arrow.slick-prev {
        left : rem-calc(-30);
      }

      .slick-arrow.slick-next {
        right : rem-calc(-30);
      }

      .slick-arrow.slick-disabled {
        display : none !important;
      }

      .slick-dots {
        position        : absolute;
        left            : 50%;
        bottom          : 0;
        margin          : 0;
        transform       : translateX(-50%) translateY(100%);
        list-style-type : none;

        li {
          display : inline-block;
          padding : rem-calc(0 $global-padding/2);

          button {
            width         : rem-calc(10);
            height        : rem-calc(10);
            background    : $secondary-color;
            font-size     : rem-calc(10);
            text-indent   : -99em;
            border-radius : 50%;
            cursor        : pointer;
            overflow      : hidden;

            @include hover {
              background : $anchor-color-hover !important;
            }
          }

          &.slick-active {
            button {
              background : $anchor-color;
            }
          }
        }
      }
    }
  }

  #widgets-buttons {
    .button {
      margin-bottom : 0;
    }

    .add-new-widgets-button {
      display        : inline-block;
      vertical-align : middle;
      border-radius  : $global-radius 0 0 $global-radius;

      span {
        display      : inline-block;
        position     : relative;
        padding-left : rem-calc(28);
      }

      .icon {
        display           : inline-block;
        position          : absolute;
        top               : 50%;
        left              : 0;
        -webkit-transform : translateY(-50%);
        transform         : translateY(-50%);
      }
    }

    .locked-switch {
      padding       : rem-calc(6 0 5 0);
      border        : 1px solid $primary-color;
      border-radius : 0 $global-radius $global-radius 0;

      .icon {
        color     : $primary-color;
        font-size : rem-calc(25);
      }

      .switch {
        margin-bottom : 0;
      }

      .switch-input {
        position : absolute;
        top      : 0;
        right    : 0;
        left     : 0;
        bottom   : 0;
        z-index  : 9999999999;
      }

      .switch-paddle {
        background : $alert-color;
        width      : rem-calc(72);

        .switch-active {
          padding : rem-calc(10);
        }
      }

      input:checked + .switch-paddle {
        background : $success-color;

        &:after {
          left : rem-calc(48);
        }
      }
    }
  }
}
